/* InterRegular */
@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/inter/Inter-Regular.otf') format('opentype');  
}

@font-face {
    font-family: 'InterSemiBold';
    src: url('../fonts/inter/Inter-SemiBold.otf') format('opentype');
}

body {
    font-family: 'InterRegular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.golf-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 100vh; /* Ensures it covers at least the full viewport height */
    background: url('../images/stringup-video-banner.png') no-repeat center center; /* Fallback image */
    background-size: cover;
 }

 .howitworks-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 100vh; /* Ensures it covers at least the full viewport height */
    background-size: cover;
 }

 .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
 }

 .container {
    position: relative;
    z-index: 1;
    padding: 60px 15px; /* Adjust padding as needed */
 }

 /* .banner-txt {
    width: 870px;
 } */

 .banner-txt .banner-btn {
    font-family: 'InterRegular';
    font-size: 14px;
    width: 120px;
    height: 48px;
    padding: 15px 24px 10px 24px;
    border: rgba(236, 190, 70, 1) 1px solid;
 }
 .banner-txt .player-btn {
    background: rgba(236, 190, 70, 1);
    color: rgba(0, 0, 0, 1);
 }
 .banner-txt .academy-btn {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 16px;
 }
h1.text-uppercase {
    font-family: 'InterRegular';
    font-size: 40px;
    line-height: 58px;
    color: rgba(249, 247, 232, 1);
}
span.lead {
    font-family: 'InterRegular';
    font-size: 24px;
    line-height: 24px;
    color: rgba(236, 190, 70, 1)
}
.login-btn {
    background: rgba(40, 57, 115, 1);
    color: rgba(255, 255, 255, 1) !important;
}
/* login-btn:hover {
    background-color: rgba(40, 57, 115, 1);
    color: rgba(255, 255, 255, 1) !important;
} */
.login-btn:active, .login-btn:focus, .login-btn:hover {
    background: rgba(40, 57, 115, 1);
    color: rgba(255, 255, 255, 1) !important;
    opacity: 0.8;
}
.player-btn:active, .player-btn:focus, .player-btn:hover {
    opacity: 0.8;
}
.academy-btn:active, .academy-btn:focus, .academy-btn:hover {
    opacity: 0.8;
}
.footer {
    background: rgba(40, 57, 115, 1);
}
.footer-menu-section {
    width: 12%;
    margin-left: 100px;
    margin-right: 70px;
}

.footer-quick-links-section {
    width: 20%;
}
.footer-social-media-section-div {
    margin-left: 35px;
}
.footer-social-media-section {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-family: Inter;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 4px;
    overflow: hidden;
    user-select: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin: 4px 10px 0px 10px;
}

.player-section-card {
    width: 100%;
    /* max-width: 300px; */
    height: 393px;
    padding: 32px;
    background: #ffffff;
    box-shadow: 0px 2px 3.3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: flex;
    transition: all .4s ease-in-out;
}

.feature-entry:hover {
    border-top: 2px solid #ffffff;
    background-color: #283973;
    color: #ffffff !important;
}

.feature-entry h3 {
    color: #283973; /* Default color */
    transition: color 0.4s ease;
}

.feature-entry:hover h3 {
    color: #ffffff; /* Hover color */
}

.feature-entry p {
    color: black; /* Default color */
    transition: color 0.4s ease;
}

.feature-entry:hover p {
    color: #ffffff; /* Hover color */
}

.icon img {
    width: 40px;
    height: 40px;
}

.player-section-app-card {
    margin-top: 10px;
    /* padding-left: 190px; */
    background: #F9F7E8;
    justify-content: center;
    align-items: center;
    gap: 64px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}



.player-section-android-card, .player-section-apple-card {
    padding: 28px 47px;
    background: black;
    border-radius: 12px;
    border-bottom: 0.60px rgba(0, 0, 0, 0.20) solid;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: flex;
    margin-bottom: 20px; /* Add space between rows on smaller screens */
}

.player-section-card-text {
    width: 158px;
    color: white;
    font-size: 16px;
    font-family: 'InterRegular';
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04px;
    word-wrap: break-word;
}

.player-section-android-card:hover, .player-section-apple-card:hover {
    transform: translateY(-5px);
    transition: all .4s ease-in-out;
}

.frame30 {
    width: 100%;
    max-width: 1920px;
    position: relative;
    background: white;
    border: 1px solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    margin: 0 auto;
}

.group8 {
    width: 100%;
    position: relative;
}

.image8 {
    width: 100%;
    height: auto;
}

.scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(64.42, 64.42, 64.42, 0.80); */
    /* z-index: 1; */
}

.content-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.gallery-sec {
    background-color: #ffffff;
}

.academy {
    font-family: 'InterRegular';
    width: 100%;
    color: #283973;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 64px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
    margin-top: 20px;
}

.horizontal-inset {
    /* padding-left: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.divider {
    width: 304px;
    height: 1px;
    background: #F06554;
    margin: 0 auto;
}

.headline {
    font-family: 'InterRegular';
    width: 100%;
    color: #283973;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 64px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.group7 {
    width: 100%;
}

.academy-card {
    font-family: 'InterRegular';
    position: relative;
    width: 100%;
    height: 360px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    border: 2px #ECBE46 solid;
    z-index: 2;
}

.academy-card:hover {
    transform: translateY(-5px);
    transition: all .4s ease-in-out;
}

.base, .scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scrim {
    background: rgba(0, 0, 0, 0.48); ;
    color: #ffffff;
    position: relative;
}

.group4 {
    text-align: left;
    position: absolute;
    left: 27px;
    top: 11px;
}

/* .group4 .revenue-boost, .group4 .live-updates, .group4 .cost-savings, .group4 .marketing-and-promotion, .group4 .enhanced-player-experience, .group4 .customer-support, .group4 .time-savings {
    width: 220px;
    height: 52px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 64px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
} */

.group4 .academy-card-title {
    font-family: 'InterSemiBold';
    width: 220px;
    height: 52px;
    color: #ECBE46;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    /* line-height: 64px; */
    letter-spacing: 0.10px;
    word-wrap: break-word;
}

.group4 .description {
    font-family: 'InterRegular';
    /* width: 305px; */
    height: auto;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
    margin-top: 160px;
    margin-right: 10px ;
}

/* .navbar-toggler {
    margin-left: 50px;
} */

/**** About Us Page ******/

.aboutus-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    background: white;
    padding: 20px;
  }
  
  .group {
    margin-bottom: 40px;
  }
  
  .group10 {
    text-align: center;
  }
  
  .aboutus-title {
    font-size: 50px;
    font-family: InterSemiBold, sans-serif;
    font-weight: 600;
    color: black;
    line-height: 1.2;
  }
  
  .line1 {
    width: 100%;
    max-width: 612px;
    margin: 20px auto;
    border: 2px #F06554 solid;
  }
  
  .group22, .group20, .group21 {
    max-width: 1260px;
    margin: 0 auto;
  }
  
  .welcome-text, .mission-text, .personalized-service-text, .hr-turnaround-text, .passion-for-excellence-text, .quality-materials-text, .team-text {
    color: black;
    font-size: 20px;
    font-family: InterRegular, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    word-wrap: break-word;
  }
  
  .our-mission, .what-sets-us-apart, .our-team-title {
    font-size: 54px;
    font-family: InterSemiBold, sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 40px 0;
  }
  
  .personalized-service, .hr-turnaround, .passion-for-excellence, .quality-materials {
    font-size: 32px;
    font-family: InterSemiBold, sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 20px 0;
  }

  .contactus-card:hover {
    background-color: #283973;
    /* color: #ffffff !important; */
  }

  .contactus-card:hover h3, .contactus-card:hover a {
    color: #ffffff; /* Hover color */
}
.contactus-card:hover p {
    color: #ffffff; /* Hover color */
}
.contactus-card .icon, .contactus-card .icon-sm {
    background-color: #283973;
}
.contact-card .icon-sm i, .contactus-card .icon i {
    color: #ffffff;
}

.contactus-card .icon-sm i:hover, .contactus-card .icon i:hover {
    color: #283973;
}
.sec-title.line-left:before, .sec-title.line:before {
    background-color: #F06554;
    width: 25%;
}
.sec-title {
    font-family: InterSemiBold, sans-serif;
}

.icon-calendar, .icon-map-pin {
    color: #F06554;
}
.text-uppercase-bold {
    font-family: InterSemiBold, sans-serif; 
}
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    .aboutus-title {
      font-size: 64px;
    }
    .our-mission, .what-sets-us-apart, .our-team-title {
      font-size: 44px;
    }
    .personalized-service, .hr-turnaround, .passion-for-excellence, .quality-materials {
      font-size: 28px;
    }
    .welcome-text, .mission-text, .personalized-service-text, .hr-turnaround-text, .passion-for-excellence-text, .quality-materials-text, .team-text {
      font-size: 18px;
    }
  }
  
  @media (max-width: 992px) {
    .aboutus-title {
      font-size: 54px;
    }
    .our-mission, .what-sets-us-apart, .our-team-title {
      font-size: 36px;
    }
    .personalized-service, .hr-turnaround, .passion-for-excellence, .quality-materials {
      font-size: 24px;
    }
    .welcome-text, .mission-text, .personalized-service-text, .hr-turnaround-text, .passion-for-excellence-text, .quality-materials-text, .team-text {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .aboutus-title {
      font-size: 48px;
    }
    .our-mission, .what-sets-us-apart, .our-team-title {
      font-size: 32px;
    }
    .personalized-service, .hr-turnaround, .passion-for-excellence, .quality-materials {
      font-size: 22px;
    }
    .welcome-text, .mission-text, .personalized-service-text, .hr-turnaround-text, .passion-for-excellence-text, .quality-materials-text, .team-text {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .aboutus-title {
      font-size: 36px;
    }
    .our-mission, .what-sets-us-apart, .our-team-title {
      font-size: 28px;
    }
    .personalized-service, .hr-turnaround, .passion-for-excellence, .quality-materials {
      font-size: 20px;
    }
    .welcome-text, .mission-text, .personalized-service-text, .hr-turnaround-text, .passion-for-excellence-text, .quality-materials-text, .team-text {
      font-size: 12px;
    }
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .aboutus-header-title {
      font-size: 8vw;
    }
    .aboutus-mission-title, .aboutus-value-title, .aboutus-service-title, .aboutus-team-title, .aboutus-team-subtitle {
      font-size: 5vw;
    }
    .aboutus-mission-text, .aboutus-value-text, .aboutus-service-text, .aboutus-team-content, .aboutus-section-text {
      font-size: 1.5rem;
    }
    .aboutus-section-title {
      font-size: 7vw;
    }
  }
  


@media (max-width: 1200px) {
    .player-section-app-card {
        padding-left: 20px; /* Adjust padding for smaller screens */
        gap: 30px; /* Adjust gap for smaller screens */
    }
    .player-section-card {
        width: calc(50% - 20px); /* Two cards per row */
    }
    .academy-card {
        width: 107%;
        margin: 5px;
    }
    a.navbar-brand {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .player-section-app-card {
        padding-left: 10px; /* Adjust padding for smaller screens */
        gap: 20px; /* Adjust gap for smaller screens */
        flex-direction: column; /* Stack cards vertically */
    }
    .player-section-card {
        width: calc(50% - 20px); /* Two cards per row */
    }
    .academy-card {
        width: 107%;
        margin: 5px;
    }
    a.navbar-brand {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .player-section-android-card, .player-section-apple-card {
        padding: 8px; /* Adjust padding for smaller screens */
        width: 100%; /* Make cards full width on small screens */
    }
    .player-section-card {
        width: 100%; /* One card per row */
        margin-bottom: 20px;
    }
    .academy-card {
        width: 107%;
        margin: 5px;
    }
    a.navbar-brand {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .player-section-card-text {
        font-size: 14px; /* Adjust font size for smaller screens */
        width: auto; /* Adjust width for smaller screens */
    }
    .player-section-card {
        padding: 20px;
    }
    .academy-card {
        width: 107%;
        margin: -3px;
    }
    a.navbar-brand {
        width: 50%;
    }
    .howitworks-banner {
        min-height: 0vh;
    }
}
/* .icon, .icon-sm {
    height: 64px;
    width: 64px;
}  */

