/*=================================
Gallery Style
*/
.gallery-items {
	position: relative;
	height: 570px;

	@include media-breakpoint-down(md) {
		display: block;
		height: auto;
	}

	@include media-breakpoint-only(sm) {
		flex-wrap: wrap;
		min-height: 500px;
	}

}

.gallery-sec {
	min-height: 570px;
	background-color: rgba(0, 0, 0, .5);
	overflow: hidden;

	@include media-breakpoint-down(sm) {
		display: block;
		min-height: auto;
	}

	#dataPanel {
		transition: opacity 0.5s ease-in-out;
	}

	.fadeOut {
		opacity: 0;
	}

	.fadeIn {
		opacity: 1;
	}
}

.item {
	flex: 0 0 25%;
	position: relative;
	border-right: 1px solid rgba(255, 255, 255, .3);
	cursor: pointer;
	transition: background-image .75s ease;
	height: 100%;

	@include media-breakpoint-only(sm) {
		flex: 0 0 50%;
		height: 300px;
		border-top: 1px solid rgba(255, 255, 255, .3);
	}

	@include media-breakpoint-down(sm) {
		flex: 0 0 100%;
		padding: 10rem;
		border-top: 1px solid rgba(255, 255, 255, .3);
	}

	.cat-meta,
	h3.sub-title {
		position: absolute;
		left: 30px;
	}

	.cat-meta {
		top: 30px;
		padding-left: 70px;
		text-transform: uppercase;
		@include transition();

		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 1px;
			width: 50px;
			background-color: rgba(255, 255, 255, .4);

		}

		a {
			color: rgba(255, 255, 255, .4);

		}
	}

	.sub-title {
		bottom: 30px;
		@include transition();

		a {
			color: $white;
		}

		@include media-breakpoint-down(xl) {
			font-size: 32px;
		}
	}
}

.item:hover {
	background-image: none;

	.cat-meta {
		top: 45px;

		a {
			color: $white;
		}
	}

	.sub-title {
		bottom: 45px;
	}
}

.data-panel {
	width: 100%;
	height: 100%;
	background-position: center center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: background-image .75s ease;
}

/* fluid 4 columns */

.grid-sizer,
.grid-item {
	background-clip: content-box;
	width: 33.33%;
	margin-bottom: 30px;
	max-height: 355px;
	overflow: hidden;

	img {
		width: 100%;
	}

	&.height2 {
		height: 740px;
		max-height: 740px;

		@include media-breakpoint-down(lg) {
			height: 463px;
		}

		@include media-breakpoint-only(sm) {
			height: 345px;
		}

		img {
			height: 100%;
		}
	}

	@include media-breakpoint-down(sm) {
		width: 100%;
		margin-bottom: 15px;

		&.height2 {
			height: auto;
		}
	}
}

.gallery-masionary {
	padding-bottom: 90px;
}