/*=================================
Table Style
*/
.poins-table {
	border-radius: 5px;
	overflow-x: auto;
	table {
			border-collapse: collapse;
			width: 100%;
	
			tr {
				border-bottom: 1px solid $border-color;
	
			}
	
			th {
				&:first-child {
					text-align: center;
				}
	
				&:nth-child(2) {
					padding-left: 30px;
				}
			}
	
			td {
				font-weight: 500;
	
				&:first-child {
					border-right: 1px solid $border-color;
					padding: 15px 20px;
					text-align: center;
				}
	
				&:nth-child(2) {
					padding-left: 30px;
				}
	
				img {
					margin-right: 5px;
				}
			}
		}
	
		td,
		th {
			text-align: left;
			padding: 20px 15px;
			background-color: $mute;
		}
}
